.orange{
    background-color:orange;
}

.blue{
  color:#42B0E2;
}

#humble{
  text-align:center;
  width: 1000px;
  left: 180px;
  position: relative;
}

#img{
    height:77px;
    width:150px;
    left:5%;
    top:3px;
    position:relative;
}

body{
    background: white;
    color: purple;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4;} 
  to {opacity: 1;}
}

@keyframes fade {
  from {opacity: .4;} 
  to {opacity: 1;}
}

button1 {
    top:-130px;
    bottom:130px;
    left: -130px;
    position: relative;
    
}


    
.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}

#thin{
  height:5%;
}

#top{
  position:relative;
  top:685px;
  padding: 10px;
  width:380px;
  text-align:center;
  height:380px;
  background: yellow;
  margin-left: 10px;
  
}

#lower{
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  width: 700px;
  top: 330px;
  left: 420px;
  height:280px;
  padding: 50px;
}

.draw{
  position:relative;
  background: yellow;
  text-align:center;
  padding: 10px;
}

#pup {
  position:relative;
  top:50px;
  width: 350px;
  height: 270px;
  margin-left: 10px;
}

#dec{
  position:relative;
  top:305px;
  margin-left: 0px;
  margin-right: 0px;
  width:740px;
  height:380px;
  left:400px;
  
}

#border{
  padding: 20px;
  text-align:center;
  position:relative;
  top:100px;
  background:lightgrey;
  width:100%;
  height:500px;
}

#larger{
  position:relative;
  top:10px;
  width:1000px;
  height:400px;
}

#text-contacts {
  color:#00000;
}

#center {
  text-align: center;
  position: relative;
  top: 300px;
}

#fun{
  font-family: 'Dancing Script', cursive;
}

#bottom{
  position:relative;
  top:100px;
  padding:0px;
  border:0px;
  background:lightblue;
  height:300px;
}


.coool a:hover{
  font-size: 14px;
  color: #999999;
  text-decoration: underline;

}

#dog-gif{
  bottom:710px;
  position:relative;
  right:440px;
}

#row{
 margin-left:0px;
 margin-right:0px;
 
}

#rowtwo{
 margin-left:0px;
 margin-right:0px;
    
}

#rowthree{
 
 margin-left:0px;
 margin-right:0px;   
}

#rowfour{
 
 margin-left:0px;
 margin-right:0px;   
}

#rowzero{
 margin-left:0px;
 margin-right:0px; 
  
}

#rowfive{
 
 margin-left:0px;
 margin-right:0px;   
}

#rowsix{
 
 margin-left:0px;
 margin-right:0px;   
}

#rowseven{
 
 margin-left:0px;
 margin-right:0px;   
}

#roweight{
 
 margin-left:0px;
 margin-right:0px;   
}

#rownine{
 
 margin-left:0px;
 margin-right:0px;   
}

#contained{
  position:relative;
  top:500px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#grey{
  background:lightgray;
}

#intro {
  top:250px;
  position:relative;
  text-align: center;
  height: 1000px;
  width: 1000px;
  bottom:5px;
  right:50px;
  left:180px;
}

.carousel {
  position: absolute;
  transition: transform 1s;
}

.item {
  background: #000;
  width: 950px;
  height: 500px;
  line-height: 200px;
  text-align: center;
  color: #FFF;
}

#three-nonds {
  position: relative;
  left: 150px;
}

#new  {
  height:500px;
  width:500px;
  position:relative;
  top:100px;
  margin-left: 370px;
}

#do {
  position:relative;
  top:100px;
  
}
#toy1 {
  height:140px;
  width:140px;
  
}
#toy2 {
  height:140px;
  width:140px;
  
}
#toy3 {
  height:140px;
  width:140px;
  
}

#gallery-main {
  width: 400px;
  height: 300px;
  margin-left: 0px;
  margin-right: 0px;
  right: 50px;
  position: relative;
  
}

#higher {
  position: relative;
  bottom: 120px;
}

#gallery {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.display {
  position:relative;
  top:300px;
  width: 300px;
  height:200px;
  text-align: center;
  left: 200px;
  margin-left: 0px;
  margin-right: 0px;
}

#dog {
  height:240px;
  position: relative;
  top:-40px;
}

#left {
   background: lightgray;
   width:500px;
   height:700px;
   position: relative;
   top:900px;
}



#presentation {
  top: 400px;
  position: relative;
}

#presentation-title {
  margin-left: 0px;
  margin-right: 0px;
  top: 10px;
  text-align: center;
}

.tacky {
  width: 300px;
  height: 200px;
}

#left-tak {
  right: 1080px;
  bottom:200px;
  position: relative;
  width:0px;
  
}

#right-tak {
  left: 960px;
  bottom: 400px;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width:0px;
}



.buy {
  position:relative;
  left: 20px;
  bottom: 100px;
  
}

.holder {
  width:700px;
  height: 340px;
  position: relative;
  background: lightgray;
  padding: 20px;
  top: 140px;
}

#description {
  position: relative;
  text-align: center;
  bottom: 130px;
  left: 400px;
  width: 260px;
  height: 200px;
}

#missed {
  margin-left: 0px;
  margin-right: 0px;
}

#missed2 {
  margin-left: 0px;
  margin-right: 0px;
}

#improved {
  position:relative;
  left:200px;
  margin-right:0;
  width:0px;
}

#toy-container {
  position: relative;
  top:200px;
  left: 400px;
  width: 500px;
  height: 300px;
  background: lightgray;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.toy-contained {
  margin-left: 0px;
  margin-right: 0px;
  right: 20px;
  top: 50px;
  position: relative;
}

#contained-3 {
  width: 200px;
  height: 200px;
}

.more-left {
  position: relative;
  bottom: 40px;
  left: 10px;
  border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
}

.more-left:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
}

.description {
  width: 200px;
  position: relative;
  left: 280px;
  bottom: 90px;
}


.register-button {  
    border: 6px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
    width: 300px;
    position: relative;
    bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background: #fff;
    color: #000;
    font-size: 2em;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.register-button:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
}

#fixy {
  margin-left:0px;
  margin-right: 0px;
}

#more-fixy {
  margin-left:0px;
  margin-right: 0px;
}

#row-hate {
  margin-left:0px;
  margin-right: 0px;
  
}

#row-hate-my {
  margin-left:0px;
  margin-right: 0px;
  
}

#row-hate-myself {
  margin-left:0px;
  margin-right: 0px;
  
}

#myself-hate {
  margin-left:0px;
  margin-right: 0px;
  
}

#row-myself-hate {
  margin-left:0px;
  margin-right: 0px;
  
}

#please-end {
  margin-left:0px;
  margin-right: 0px;
  
}

#sdvljn {
  margin-left:0px;
  margin-right: 0px;
  
}

#top-corner{
  position:relative;
  top: 100px;
  height: 100px;
  width: 30px;
}

#srew-myself {
  position: relative;
  left: 1190px;
  height:50px;
  width:50px;
  bottom: 100px;
}

#counter {
  position:relative;
  top: 100px;
  height: 100px;
  width: 30px;
  right:150px;
  background: gray;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#purchases {
  top: 200px;
  position:relative;
  text-align: center;
}

#please-work {
  position: relative;
  top: 300px;
  left: 460px;
}

footer {
  width:100%;
  height:250px;
  background-color: #acd8e7;
}